*.264
*.3g2
*.3gp
*.avi
*.avs
*.avsi
*.d
*.d2v
*.diff
*.dll
*.exe
*.f4v
*.ffindex
*.flv
*.h264
*.index
*.log
*.log.mbtree
*.m2ts
*.m2v
*.m4v
*.mkv
*.mov
*.mp4
*.mpg
*.mts
*.o
*.ogm
*.patch
*.py
*.pyc
*.pyd
*.qt
*.raw
*.swp
*.ts
*.vob
*.wmv
*.y4m
*.yuv
*~
